<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="~/Content/assets/images/6573.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                <div class="left-heading">
                    <h5>HAKKIMIZDA</h5>
                </div>
                <div class="left-text">
                    <p>
                        Şirketimiz, Mali Müşavir HÜSEYİN ŞAHAN direktifliğinde, konularında uzman kadro ile müşterilerine ulusal ve uluslararası alanda bireysel, kaliteli ve yüksek düzeyde vergi-sgk danışmanlığı sunmaktadır.
                        Şirketimiz özellikle Anonim ve Limited Şirket hukuku ve uygulamaları konusunda uzmanlaşmış olmakla birlikte, hiçbir ayrım gözetmeden en küçük işletmeden, en büyük kuruluşlara kadar hizmet vermektedir. Çok çeşitli sektörlerde faaliyet gösteren firmalar ile çalışmanın tecrübesine sahiptir.
                        Bununla birlikte değişen ve gelişen iş dünyası ve global rekabet anlayışı, şirketlerin finansal raporlama ihtiyaçlarını, finansal tabloların analizini ve finans alanında güçlü bir finansal yapı kurulması ihtiyacını deyim yerinde ise zorunlu hale getirmektedir.
                        Tüm mükelleflerimizi ve siz değerli iş dünyası aktörlerini saygı ile selamlar
                        Başarı dolu bir gelecekte buluşmayı ümit ederiz.
                    </p>
                    <a href="#about2" class="main-button">DAHA FAZLA</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>