   <!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <img class="limonlogo" src="~/Content/assets/images/logo.png" alt="Limon Mali Müşavirlik" />
                    <a href="#" class="logo">LİMON</a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#welcome" class="active">Anasayfa</a></li>
                        <li class="scroll-to-section"><a href="#about">Hakkımızda</a></li>
                        <li class="scroll-to-section"><a href="#services">Blog</a></li>
                        <li class="scroll-to-section"><a href="#frequently-question">Hizmetlerimiz</a></li>
                        <!--
                            <li class="submenu">
                            <a href="javascript:;">Menü</a>
                            <ul>
                                <li><a href="">Hakkımızda</a></li>
                                <li><a href="">Features</a></li>
                                <li><a href="">FAQ's</a></li>
                                <li><a href="">Blog</a></li>
                            </ul>
                        </li>
                        -->
                        <li class="scroll-to-section"><a href="#contact-us">İletişim</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
<!-- ***** Slider Start ***** -->
@{ Html.RenderAction("Slider", "Home");}
<!-- ***** Slider End ***** -->
<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="~/Content/assets/images/6573.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                <div class="left-heading">
                    <h5>HAKKIMIZDA</h5>
                </div>
                <div class="left-text">
                    <p>
                        Şirketimiz, Mali Müşavir HÜSEYİN ŞAHAN direktifliğinde, konularında uzman kadro ile müşterilerine ulusal ve uluslararası alanda bireysel, kaliteli ve yüksek düzeyde vergi-sgk danışmanlığı sunmaktadır.
                        Şirketimiz özellikle Anonim ve Limited Şirket hukuku ve uygulamaları konusunda uzmanlaşmış olmakla birlikte, hiçbir ayrım gözetmeden en küçük işletmeden, en büyük kuruluşlara kadar hizmet vermektedir. Çok çeşitli sektörlerde faaliyet gösteren firmalar ile çalışmanın tecrübesine sahiptir.
                        Bununla birlikte değişen ve gelişen iş dünyası ve global rekabet anlayışı, şirketlerin finansal raporlama ihtiyaçlarını, finansal tabloların analizini ve finans alanında güçlü bir finansal yapı kurulması ihtiyacını deyim yerinde ise zorunlu hale getirmektedir.
                        Tüm mükelleflerimizi ve siz değerli iş dünyası aktörlerini saygı ile selamlar
                        Başarı dolu bir gelecekte buluşmayı ümit ederiz.
                    </p>
                    <a href="#about2" class="main-button">DAHA FAZLA</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->
<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about2">
    <div class="container">
        <div class="row">
            <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                <div class="left-heading">
                    <h5>NEDEN BİZ  ?</h5>
                </div>
                <ul>
                    <li>
                        <div class="text">
                            <h6>KALİTELİ HİZMET</h6>
                            <p>
                                Yaptığımız işe hakimiz, titiz çalışıyor ve tüm sektörlerdeki müşterilerimiz için yüksek kalitede hizmetler üretiyoruz.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <h6>YÜKSEK VERİM</h6>
                            <p>
                                Öncelikli hedefimiz yüksek verimlilik. Tüm çalışma sistemimizi bu hedefe ulaşma doğrultusunda şekillendiriyoruz.
                            </p>
                        </div>
                    </li>
                    <li>

                        <div class="text">
                            <h6>GENÇ EKİP</h6>
                            <p>
                                Alanında deneyim kazanmış mali müşavir ve sgk uzmanından oluşan genç kadromuz bulunmaktadır.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="~/Content/assets/images/6574.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->
<!-- ***** Features Small Start ***** -->
<section class="section" id="services">
    <div class="container">
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="~/Content/assets/images/service-icon-01.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Blog Yazısı 1</h5>
                    <p>Aenean vulputate massa sed neque consectetur, ac fringilla quam aliquet. Sed a enim nec eros tempor cursus at id libero.</p>
                    <a href="#" class="main-button">Read More</a>
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="~/Content/assets/images/service-icon-02.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Blog Yazısı 2</h5>
                    <p>Pellentesque vitae urna ut nisi viverra tristique quis at dolor. In non sodales dolor, id egestas quam. Aliquam erat volutpat. </p>
                    <a href="#" class="main-button">Discover More</a>
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="~/Content/assets/images/service-icon-03.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Blog Yazısı 3</h5>
                    <p>Quisque finibus libero augue, in ultrices quam dictum id. Aliquam quis tellus sit amet urna tincidunt bibendum.</p>
                    <a href="#" class="main-button">More Detail</a>
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="~/Content/assets/images/service-icon-02.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Blog Yazısı 4</h5>
                    <p>Fusce sollicitudin feugiat risus, tempus faucibus arcu blandit nec. Duis auctor dolor eu scelerisque vestibulum.</p>
                    <a href="#" class="main-button">Read More</a>
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="~/Content/assets/images/service-icon-01.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Blog Yazısı 5</h5>
                    <p>Curabitur aliquam eget tellus id porta. Proin justo sapien, posuere suscipit tortor in, fermentum mattis elit.</p>
                    <a href="#" class="main-button">Discover</a>
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="~/Content/assets/images/service-icon-03.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Blog Yazısı 6</h5>
                    <p>Ut nibh velit, aliquam vitae pellentesque nec, convallis vitae lacus. Aliquam porttitor urna ut pellentesque.</p>
                    <a href="#" class="main-button">Detail</a>
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="~/Content/assets/images/service-icon-01.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Blog Yazısı 7</h5>
                    <p>Sed a consequat velit. Morbi lectus sapien, vestibulum et sapien sit amet, ultrices malesuada odio. Donec non quam.</p>
                    <a href="#" class="main-button">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->
<!-- ***** Frequently Question Start ***** -->
<section class="section" id="frequently-question">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Hizmetlerimiz</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="section-heading">
                    <p>Vivamus venenatis eu mi ac mattis. Maecenas ut elementum sapien. Nunc euismod risus ac lobortis congue. Sed erat quam.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        @{ Html.RenderAction("Hizmetler", "Home");}

    </div>
</section>
<!-- ***** Frequently Question End ***** -->
<!-- ***** Contact Us Start ***** -->
<section class="section" id="contact-us">
    <div class="container-fluid">
        <div class="row">
            <!-- ***** Contact Map Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div id="map">
                    <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1197183.8373802372!2d-1.9415093691103689!3d6.781986417238027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb96f349e85efd%3A0xb8d1e0b88af1f0f5!2sKumasi+Central+Market!5e0!3m2!1sen!2sth!4v1532967884907" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- ***** Contact Map End ***** -->
            <!-- ***** Contact Form Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="contact-form">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Full Name" required="" class="contact-field">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" id="email" placeholder="E-mail" required="" class="contact-field">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" id="message" placeholder="Your Message" required="" class="contact-field"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button">Send It</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ***** Contact Form End ***** -->
        </div>
    </div>
</section>
<!-- ***** Contact Us End ***** -->
<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <p class="copyright">Copyright &copy; 2021 Limon Mali Müşavirlik</p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>